<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huha.bsgeneralmapper.bunisess.user.mapper.DashboardUserMapper">
  <resultMap id="BaseResultMap" type="org.huha.bsgeneralmapper.bunisess.user.model.DashboardUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
  </resultMap>
</mapper>